@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: Roboto,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex-shrink: 0  ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.headerlist {
    display: flex;
    gap: 30px;
    
}


.content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap: 30px; */
}

.top {
    padding: 50px;
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 50px;
}

.topleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;
    gap: 20px;
}

.middle {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.titleinfo {
    margin-top: -50px;
}

.infoimg{
    display: flex;
    gap: 30px;
}
.squares {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.text {
    width: 150px;
    align-self: center;
}
.lower-middle{
    display: flex;
    flex-direction: column;
    padding: 150px;
    height: 170px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    align-self: center;
}
.name {
    display: flex;
    align-self: flex-end;
    padding-right: 200px;
}

.bottom {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.signupbox {
    display: flex;
    width: 800px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 25px;

}



img {
    border-color:#3882f6;
    border-style: solid;
    border-radius: 20px;
    background-position: left top;
    background-repeat: repeat;
    /* padding: 20px; */
    width: 200px;
    height: 200px;
  }


#img1 {
    width: 500px;
    height: 300px;
}

/* font and colors*/


.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    list-style-type:  none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
  }

  .header,.footer {
    background:#1f2937 ;
    color: white;
}

.top {
    background: #1f2937;
    color: white;
}

#website {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#webinfo {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200px;
}

  .middle {
    background: white;
}

.titleinfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.lower-middle{
    background: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.bottom {
    background: white;
}

.signupbox {
    background:#3882f6 ;    
    color: white;
}


button {
    background: #3882f6;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border
}

#lowerbutton {
    border-color: white;
}